:root {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  flex-grow: 1;
}

.info {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 30%;
  min-width: 10%;
  box-sizing: border-box;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 1em;
  padding: 1em;
  align-items: center;
  background-color: rgb(170, 170, 170)
}